$font-stack: 'Lato', sans-serif;
$border-uni: 1px solid #979da2;
$border-rad: 0.4em;

$clr_background: #2c3e50;
$green1: #1abc9c;
$green2: #16a085;

$clouds: url("clouds.gif");
$carbonfiber: url("carbonfiber.jpg");
$hank: url("hank.png");
$ocean: url("ocean.gif");
$doge: url("doge.jpg");
$swim: url("swim.gif");

$stdShadow: 0px 0px 5px 0px black;

html{
  background-color: $clr_background;
}

.pageHeader {
  padding: 2em;
  background-color: $green2;
  color: white;
  text-align: center;

  a {
    text-decoration: none;
    color:inherit;
  }
  h1 {
    margin: 0;
    font-size: 2em;
  }
  h2 {
    margin: 0;
  }
}

body {
  font-family: $font-stack;
  padding:0;
  margin:0 auto;
  width:40em;

  .mainPage {
    background: linear-gradient($green2, $clr_background);
    color: white;
    margin: 0 auto;
    padding: 0em 2em 0em 2em;
    width: auto;
    height: 30em;

    button {
      font-family: $font-stack;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      margin: 0;
    }
    button:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    button:active {
      background-color: rgba(200, 256, 200, 0.3);
    }

    h1 {
      text-align: left;
      margin: 0;
      padding: 0;
    }

    div {
      display: inline-block;
      height: 100%;
      margin: 0;

      h1 {
        text-align: left;
      }
    }
    .frm_createUser {
      margin: 0;
      padding: 0;
      input {
        background: transparent;
        color: white;
        border: 1px solid white;
        font-family: $font-stack;
      }
      h3 {
        margin: 0;
      }
    }
    .ul_userList {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 24em;
      height: 100%;
      overflow: auto;
      box-shadow: 0px 0px 3px black;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      p {
        font-size: 12px;
      }
      li {
        display: block;
        text-align: right;
        padding: 1em;
        margin-left: 0;
        margin-bottom: -1px;
        background-color: transparentize($green1, 0.8);
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: auto;
      }
      h2 {
        text-align: left;
        margin: 0;
      }
      .btn_userMinimize {
        float: right;
        width: 2.6em;
        height: 2.6em;
      }
      table {
        text-align: left;
      }
    }
    .profilePic {
      width: 8em;
      height: 8em;
      margin-top: 2em;
      margin-left: 12em;
      margin-bottom: -2.5em;
      border-radius: $border-rad;
      box-shadow: $stdShadow;
    }
    #userProfile {
      border: 1px solid white;
      display: block;
      background-color: #95a5a6;
      border-bottom-left-radius: $border-rad;
      border-bottom-right-radius: $border-rad;
      table {
        border: none;
        tr {
          background-color: #95a5a6;
          text-shadow: 0px 0px 1px black;
        }
        tr:nth-child(even) {
          background-color: #bdc3c7;
        }
      }
    }
  }
}
