html {
  background-color: black; }

.pageHeader {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  background-color: #95a5a6;
  background-image: url("clouds.gif");
  padding: 1em 1em 1em 1em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em; }
  .pageHeader a {
    text-decoration: none;
    color: inherit; }
  .pageHeader h1 {
    color: #ecf0f1;
    font-size: 2em;
    margin-top: 1em;
    margin-left: 1.5em;
    text-shadow: 0px 0px 5px #2c3e50; }
  .pageHeader h2 {
    color: #ecf0f1;
    margin: -1em 0 0 2em;
    text-shadow: 0px 0px 5px #2c3e50; }
  .pageHeader nav {
    text-shadow: 0px 0px 2px #2c3e50; }
    .pageHeader nav ul {
      margin: 1em 1em 1em 2em;
      padding: 1em 0 0 0;
      text-align: left; }
    .pageHeader nav li {
      display: inline;
      padding-left: 1em; }
    .pageHeader nav a {
      color: #ecf0f1;
      padding: .5em;
      border: 1px solid;
      border-radius: 0.4em; }
    .pageHeader nav a:hover {
      color: #ecf0f1;
      font-weight: bolder;
      opacity: 1.0; }
    .pageHeader nav .current {
      font-weight: bold;
      border: 1px dotted;
      opacity: 0.6; }

body {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  padding: 0;
  margin: 0 auto;
  width: 40em;
  background-color: #ecf0f1;
  background-image: url("carbonfiber.jpg");
  background-size: 4em;
  border: 1px solid #979da2;
  border-radius: 0.4em;
  box-shadow: 0px 0px 5px 0px black; }
  body .pageTitle {
    color: #FFFFFF;
    background-color: #979da2;
    text-align: left;
    text-shadow: 0px 0px 2px black;
    padding-left: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: border-uni; }
  body article {
    background-color: #979da2;
    color: white;
    margin: 0 auto;
    padding: 1em 1em 1em 1em;
    width: 32em;
    height: 30em;
    border-radius: 0.4em; }
    body article header {
      background-image: url("ocean.gif");
      background-position: center;
      background-size: 100%;
      border: 1px solid white;
      border-bottom: none;
      border-top-left-radius: 0.4em;
      border-top-right-radius: 0.4em; }
    body article h1 {
      text-align: center;
      text-shadow: 0px 0px 2px black;
      margin: 1em 0em 0em 0em; }
    body article .btn-userMinimize {
      background-color: white;
      font-family: Helvetica, Arial, Tahoma, sans-serif;
      font-weight: bold;
      color: black;
      border: 1px solid white;
      margin-bottom: 0px;
      width: 100%;
      height: 2em; }
    body article table {
      border-bottom: 1px solid white;
      width: 100%; }
      body article table th {
        text-align: left;
        width: 5em; }
      body article table td {
        width: 9em; }
    body article .profilePic {
      width: 8em;
      height: 8em;
      margin-top: 2em;
      margin-left: 12em;
      margin-bottom: -2.5em;
      border-radius: 0.4em;
      box-shadow: 0px 0px 5px 0px black; }
    body article #userProfile {
      border: 1px solid white;
      display: block;
      background-color: #95a5a6;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em; }
      body article #userProfile table {
        border: none; }
        body article #userProfile table tr {
          background-color: #95a5a6;
          text-shadow: 0px 0px 1px black; }
        body article #userProfile table tr:nth-child(even) {
          background-color: #bdc3c7; }

#homePageContent {
  position: relative; }
  #homePageContent img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.4em; }
