/* testml5 CSS */
header, hgroup, nav{display:block}

html{background:white}
body {
  font-family: Tahoma;
  padding:0;
  margin:0 auto;
  width:40em;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
}
body > header {
  font-family: Helvetica, Arial;
  background-color: #bdc3c7;

  padding:1em 1em 1em 1em;
}
body > header h1 {
  color: #FFFFFF;
  margin-top: 1em;
  margin-left: 1.5em;
}
body > header h2 {
  color: #ecf0f1;
  margin:-1em 0 0 2em;
}
nav a {
  text-decoration: none;
  font-family: Tahoma, Arial;
  color: white;
  padding: .5em;
  border: 1px solid;
}
nav a:hover {
  color: #ecf0f1;
}
#current {
  font-weight: bold;
  border: 1px dotted;
}
nav ul{
  margin:1em 1em 1em 2em;
  padding: 1em 0 0 0;
  text-align: left;
}
nav li {
  display: inline;
  padding-left: 1em;
}
#pagetitle {
  color: #95a5a6;
  margin-left: 2em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
#userProfile {
  background-color: #bdc3c7;
  color: white;
  margin:0 auto;
  padding: 1em 1em 1em 1em;
  width: 32em;
  height: 30em;
}
#userProfile h1 {
  margin: 0;
  float: left;
}
#userProfile h2 {
  margin: 0;
  color: #ecf0f1;
  font-weight: lighter;
  border-bottom: 1px dotted white;
}
#userProfile td:first-child {
  font-weight: bold;
}
#userList {
  background-color: #bdc3c7;
  color: white;
  margin:0 auto;
  padding: 1em 1em 1em 1em;
  width: 32em;
  height: 30em;
}
#userList th {
  text-align: left
}
#userList td {
  padding-right: 1em;
}
#userList table {
  border-bottom: 1px dotted white;
  margin: 0;
}
#userForm {
  background-color: #bdc3c7;
  color: white;
  margin: 0 auto;
  padding: 1em 1em 1em 1em;
  width: 32em;
  height: 30em;
}
form h3 {
  font-size: 1em;
  margin: 0;
}
